body{
   background-color:hsl(212, 45%, 89%);
   font-size: 15px;
}
div{
  background-color: white;
  border-radius: 10px;
  padding-bottom:10px;
  padding-top:10px;
  margin: auto;
 width: 240px;
 margin-top: 200px;

}
.first-paragraph{
  font-weight:700;
  text-align: center;

}
.secound-paragraph{
  font-weight: 400;
  text-align: center;
}

.image{
  border-radius: 10px;
  height: 200px;
  width : 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
